#top-header {
    padding: 8px 0 3px;
}
#top-header {
	.currency-picker {
		text-align: right;
	    float: right;
	    margin-top: 3px;
	    margin-left: 5px;

	    .currency-picker__label {
	    	display: none;
	    }

	    .currency-picker__wrapper {
	    	padding: 0;
	    }

	    .currency-picker__wrapper:after {
	    	content: "\f0d7";
		    font: 12px 'FontAwesome';
		    float: right;
		    margin-left: 5px
	    }

	    .currency-picker__wrapper select.currency-picker {
	    	text-align: right;
		    padding: 0;
		    line-height: 12px;
		    border: none;
		    background: none;
		    float: left;
		    color: #000;
		    font-weight: 700;
		    margin: 0;
		    font-size: 13px;
		    outline: none;
	    }
	}
	.social-icons {
		float: right;

		a {
			margin:0 2px;

			i {
				font-size: 20px;
			    opacity: 0.7;
			    transition: all .3s;
			}
			i:hover {
				color: #fa5555;
			}
		}
	}
}