/*======================================================
			Header Normal & commonness Style
=======================================================*/
/*header.site-header {
    border-top: 1px solid #e5e5e5;
}*/
.header-cart a {
  position: relative;
}
.header-cart a i {
  color: #ffffff;
  font-size: 25px;
}
.header-cart a span#CartCount {
  position: absolute;
  width: 13px;
  height: 13px;
  background: #363636;
  color: #fff;
  border-radius: 100%;
  top: 0;
  right: 0px;
  text-align: center;
  font-size: 10px;
  line-height: 13px;
}

.site-header__search {
  background: #fff;
  max-width: 100%;
  border: 1px solid #fa5555;
  border-radius: 0px;
  position: relative;
}
.site-header__search form.search-bar {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.site-header__search form.search-bar .collections-selector {
  display: inline-block;
  width: 200px;
}
.site-header__search form.search-bar .collections-selector select {
  height: 40px;
  border: none;
  border-right: 1px solid #fa5555;
  border-radius: 0;
  color: dimgrey;
  text-transform: uppercase;
  outline: none;
}
.site-header__search form.search-bar .st-default-search-input {
  width: calc(100% - 232px);
  width: -moz-calc(100% - 232px);
  width: -webkit-calc(100% - 232px);
  display: inline-block;
  height: 40px;
  vertical-align: top;
  border: none;
  border-radius: 0;
  color: dimgrey;
  background: transparent;
  outline: none;
}
.site-header__search form.search-bar .input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 40px;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.site-header__search form.search-bar .input-group-btn button.btn {
  padding: 0;
  background: transparent;
  color: #808080;
  border: none;
  display: block;
  width: 100%;
  outline: none;
}

.link-list {
  text-align: right;
}
.link-list li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 0 8px;
}
.link-list li a {
  position: relative;
}
.link-list li i {
  font-size: 20px;
  display: block;
  color: #fa5555;
}
.link-list li span {
  font-family: Lato;
  font-size: 12px;
  color: dimgrey;
}
.link-list li span#CartCount {
  position: absolute;
  width: 13px;
  height: 13px;
  background: #363636;
  color: #fff;
  border-radius: 100%;
  top: 0;
  right: 18px;
  font-size: 10px;
  line-height: 13px;
}
.link-list li:last-child {
  border: none;
}

.nav-bar {
  /*border-top: 1px solid #e5e5e5;*/
  /*border-bottom: 1px solid #e5e5e5;*/
}
.nav-bar .site-nav {
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}
.nav-bar .site-nav li a .menu-marker {
  position: absolute;
  right: 0;
  top: -8px;
  z-index: 10;
}
.nav-bar .site-nav li a .menu-marker .marker-content {
  position: relative;
}
.nav-bar .site-nav li a .menu-marker .marker-content i {
  color: #5fb743;
  font-size: 21px;
  transform: scaleX(1.4);
}
.nav-bar .site-nav li a .menu-marker .marker-content span {
  font-size: 8px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 29.4px;
  color: #ffffff;
  left: -6px;
  font-weight: initial;
}
.nav-bar .site-nav li a .menu-marker.hidden_marker {
  display: none;
}
.nav-bar .site-nav li a img.menu-icon {
  float: left;
  margin-right: 10px;
  max-width: 20px;
  position: relative;
  z-index: 99;
}
.nav-bar .site-nav li a img.menu-icon.blank-icon {
  display: none;
}
.nav-bar .site-nav > li {
  float: left;
  /*float: none;*/
}
.nav-bar .site-nav > li > a {
  font-family: Lato;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 25px;
  background: transparent;
  position: relative;
  display: block;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.nav-bar .site-nav > li > a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #e63737;
  z-index: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.nav-bar .site-nav > li > a:hover {
  color: #fff;
}
.nav-bar .site-nav > li > a:hover:before {
  height: 100%;
}
.nav-bar .site-nav > li a span {
  position: relative;
}
.nav-bar .site-nav > li a span.navigation-label-hidden {
  display: none;
}
.nav-bar .site-nav > li.current-menu-item > a:before {
  height: 100%;
}
.nav-bar .site-nav > li.menu-item-has-children {
  position: static;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu {
  position: absolute;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  top: 100%;
  margin: 0;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
  z-index: 200;
  display: table;
  padding: 25px 160px 25px 0;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li {
  display: table-cell;
  vertical-align: top;
  padding: 5px 40px;
  position: relative;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children {
  font-size: 18px;
  font-weight: bold;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li.menu-item-has-children > a {
  white-space: nowrap;
  color: #000;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li > ul {
  margin: 10px 0 0;
  font-size: 13px;
  font-weight: initial;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li > ul li {
  padding-top: 5px;
  margin-bottom: 5px;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li > ul li a {
  border-bottom: 2px solid transparent;
  transition: all .5s;
  color: #696969;
  position: relative;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li > ul li a .menu-marker {
  right: -27px;
  top: -16px;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu.original_view {
  display: block;
  padding: 25px 0;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu.original_view > li {
  display: block;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu.original_view > li a {
  border-bottom: 2px solid transparent;
  transition: all .5s;
}
.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu.full-width {
  left: 0;
  width: 100%;
}
.nav-bar .site-nav > li.menu-item-has-children > a:after {
  content: "\f0d7";
  font: 12px 'FontAwesome';
  /* float: right; */
  margin-top: 3px;
  margin-left: 10px;
  position: relative;
}
.nav-bar .site-nav > li.menu-item-has-children:hover > ul.sub-menu {
  opacity: 1;
  transform: scale(1, 1);
}

#center-nav.nav-bar .site-nav > li {
  float: none;
}

/*======================================================
				Header Center Style
=======================================================*/
#center-header .mobile-logo {
  display: none !important;
}
#center-header .site-header__search {
  width: initial;
}
#center-header .site-header__search form.search-bar .st-default-search-input {
  width: 190px;
}

#center-nav.nav-bar .site-nav {
  text-align: center;
}
#center-nav.nav-bar .site-nav > li.menu-item-has-children > ul.sub-menu > li {
  text-align: left;
}

/*======================================================
				Header rightbox Style
=======================================================*/
#rightbox-nav-bar.nav-bar,
#page-content-custom-menu {
  background: transparent !important;
  border: none;
}
#rightbox-nav-bar.nav-bar .shop-by-collections,
#page-content-custom-menu .shop-by-collections {
  padding-left: 0;
  padding-right: 20px;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections,
#page-content-custom-menu .shop-by-collections .sidebar-collections {
  position: relative;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-title,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-title {
  background: #df0371;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-title i,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-title i {
  margin-right: 10px;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  height: auto;
  opacity: 1;
  position: absolute;
  transform: scale(1, 1);
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
  visibility: visible;
  width: 100%;
  z-index: 100;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown {
  left: 100%;
  background: #fff;
  width: 500px;
  top: 0;
  border: 1px solid #ccc;
  padding: 20px 10px 20px 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  display: block;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  vertical-align: top;
  width: 50%;
  border: none;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li a,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li a {
  background: transparent;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li > a .element-main,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li > a .element-main {
  border: none;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li > a .collection-area,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li > a .collection-area {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 5px 10px;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li ul,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li ul {
  display: block;
  position: relative;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li ul li,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > .site-nav__dropdown > li ul li {
  border: none;
  padding: 0;
  padding: 5px 10px;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > a .icon-arrow-right,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > a .icon-arrow-right {
  float: right;
  display: inline-block;
  color: #444444;
  padding-top: 3px;
  position: absolute;
  top: 7px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > a .icon-arrow-right:before,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element > a .icon-arrow-right:before {
  content: "\f0da";
  font: 14px 'FontAwesome';
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element:hover > .site-nav__dropdown,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element:hover > .site-nav__dropdown {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element {
  padding: 9px 20px 7px;
  position: relative;
  list-style: none;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a {
  padding: 0 !important;
  overflow: hidden;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a img.blank-featured-img,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a img.blank-featured-img {
  display: none;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main {
  display: inline-block;
  vertical-align: top;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-icon,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-icon img,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-icon img {
  max-width: 20px;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-icon.blank-icon,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-icon.blank-icon {
  display: none;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-area,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-area {
  display: inline-block;
  font-family: Lato;
  font-size: 13px;
  color: 13px;
  color: dimgrey;
  transition: all .5s;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-area.added-featured-img,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element > a .element-main .collection-area.added-featured-img {
  font-weight: 700;
  text-transform: uppercase;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element.menu-item-has-children > a .icon-arrow-right,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list > .sdc-element.menu-item-has-children > a .icon-arrow-right {
  visibility: visible;
  opacity: 1;
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element + .sdc-element,
#page-content-custom-menu .shop-by-collections .sidebar-collections .sdcollections-content .sdcollections-list .sdc-element + .sdc-element {
  border-top: 1px solid #e5e5e5;
}
#rightbox-nav-bar.nav-bar .site-nav,
#page-content-custom-menu .site-nav {
  width: 75%;
  margin: 0;
  padding: 0;
}

#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
}
#rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content.opened {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.home #rightbox-nav-bar.nav-bar .shop-by-collections .sidebar-collections .sdcollections-content {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  display: block;
}
